IELTS bot new.json
{
  "name": "IELTS bot new",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Send me samples of IELTS tasks :\n\n**Writing**\nsend question in new categories for task 2 in every kind like advantages/disadvantages - problem/solution - discussion - opininon and etc ..\n\n**Speaking**\na full test for all 3 parts of ielts speaking\nfor part 1 ask 6 Question\nfor part 2 give me a que card\nfor part 3 ask 4 Question\n\nAnd latest tips and tricks\n\n\nuse this youtube channel for samples : https://www.youtube.com/@Ieltsadvantage\n\ndo them short and useful please no more than 4096 charachter .\nplease dont send topic that you have sent before.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -144
      ],
      "id": "f2b933b7-edb5-474a-9c26-dd5664624e3f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        80
      ],
      "id": "edc721e0-80f8-46a9-9737-f6b77737b824",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MOX1Go15vGW6GRL8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@Your_Bot_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -144
      ],
      "id": "ff3f7568-f122-4136-a805-a8e09e161b67",
      "name": "Send a text message",
      "webhookId": "b31b31bd-6caa-4a5f-98fd-e02278367e17",
      "credentials": {
        "telegramApi": {
          "id": "oIFlJK9BaptJvZyt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": "={{ 2 }}",
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        -144
      ],
      "id": "146c5d7f-149e-48a3-85ea-2ec0845f28af",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "@Your_bot_ID",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        624,
        208
      ],
      "id": "1bb08769-9863-46a1-b516-a704852f37b8",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62ba451d-feef-4a4f-9782-8bd5f6843fb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "377293cc159cd31ef0f53afdf5e23c72d88bf9ac9938a6739a1bb63116ae27d1"
  },
  "nodeGroups": [],
  "id": "Sls8AHLkmJ3ivZyd",
  "tags": []
}